<% provide(:title, 'Contacts') %>
<h1>Sample App</h1>
<p>
  This is the contacts page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  Author: tiger100@protonmail.com
</p>